$col-dark: #212529 ;
$col-darkgray:#252627 ;
$col-gray: #434b53;
$col-white: #ffffff;
$col-lucid:#21252900;
$col-semilucid:#505152a4;

$fontSize-Large : 40px;
$fontSize-Medium : 30px;
$fontSize-Small : 20px;



body {
  text-align: center;
  background-color: $col-darkgray;
  color: $col-white;
  }

.content{
  display: flex;
  justify-content: center;
  align-items : center;
  margin-top: 3%;
  font-size: $fontSize-Small;
}

.player-panel{
  width: 40%;
  height: 80vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
  .playerTag{
    margin-top: 15%;
  }
  .countGame{
    margin-top: 3%;
  }
  .countRound{
    margin-top: 20%;
    border-radius: 8px 8px;
    background: rgb(17, 17, 43);
    width: 100px;
  }
}

#player1 {
  background : $col-gray;
  border-top-left-radius: 12px 12px;
  border-bottom-left-radius: 12px 12px;
}
  
#player2{
  background :$col-semilucid;
  border-top-right-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
}

#tools{
  background: transparent;
  position: absolute;
  top: 50px;
  margin-top: 3%;

}


