$col-dark: #212529 ;
$col-darkgray:#252627 ;
$col-gray: #434b53;
$col-white: #ffffff;
$col-lucid:#ffffff00;
$col-semilucid:#505152a4;
$col-darkBlue : rgb(17, 17, 43);
$col-blueLucid: rgba(17, 25, 40, 0.75);
$col-darkRed : rgb(43, 17, 17);
$col-redLucid : rgba(40, 17, 17, 0.75);

$fontSize-veryLarge : 100px;
$fontSize-Large : 40px;
$fontSize-Medium : 30px;
$fontSize-Small : 23px;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@mixin flexPanels{
  height: 80vh;
  display: flex;
  flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	align-content: stretch;
  
}

@mixin transition1 {
  transition: all 0.5s ease-in-out 0.2s;
}

@mixin transformEffect {
  padding: 2px;
  border: solid 1px;
  transform: scale(1.1);
  @include transition1();
}

@mixin cursorChange{
  cursor: pointer;
}

body {
  text-align: center;
  text-shadow: -2px 3px 3px rgba(111,111,111,0.55);
  color: $col-white;
  font-family: 'Lato';
  background-image: url('https://images.pexels.com/photos/3005772/pexels-photo-3005772.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260');
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    max-width: 100%;
  }

.content{
  display: flex;
  justify-content: center;
  align-items : center;
  margin-top: 3%;
  font-size: $fontSize-Medium;
}

.player-panel{
  width: 40%;
  @include flexPanels();
  padding-top: 50px;
  
  
  .playerTag{
    margin-top: 10%;
  }
  .countGame{
    margin-top: 3%;
  }
  .countRound{
    margin-top: 30%;
    border-radius: 8px 8px;
    width: 200px;
  }
}

#player1 {
  background-color: $col-blueLucid;
  border-radius: 12px;
  border: 1px solid $col-semilucid;
  
  .countRound{
    background: $col-darkBlue;
  }
}

#player1:hover{
  transform: scale(1.008);
  @include transition1();
}
  
#player2{
  display: none;
  background-color: $col-redLucid;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid $col-semilucid;
  .countRound{
    background: $col-darkRed;
  }
}

#player2:hover{
  transform: scale(1.008);
  @include transition1();
}

@keyframes rotate {
  100%{ transform: rotate(360deg); }
  }

img{
  background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    max-width: 105%;
    max-height: 105%;
}

#tools{
  font-size: $fontSize-Small;
  padding-top: 25px;
  z-index:1;
  background: transparent;
  position: absolute;
  top: 50px;
  @include flexPanels();
  .newPlayer{
    border-radius: 12px;
  }
  .newPlayer:hover{
    @include transformEffect();
    @include cursorChange();
  }
  .reinitialise{
    margin-top : 7%;
    border-radius: 12px;
  }
  .reinitialise:hover{
    @include transformEffect();
    @include cursorChange();
    
  }
  
  .dice{
    margin-top : 90%;
    background: $col-white;
    width: 100px;
    height: 100px;
    border-radius: 12px 12px;
  }
  .diceButton{
    margin-top: 15%;
    border-radius: 12px;
  }
  .diceButton:hover{
    @include transformEffect();
    @include cursorChange();
    i{
    animation:rotate 2s ease-in-out 0s 1 normal;
    }
  }
  .hold{
    margin-top : 140%;
    border-radius: 12px;
  }
  .hold:hover{
    @include transformEffect();
    @include cursorChange();
  }
  .victoryMessage{
    font-size: $fontSize-veryLarge;
  }
}


