$col-dark: #212529 ;
$col-darkgray:#252627 ;
$col-gray: #434b53;
$col-white: #ffffff;
$col-lucid:#21252900;
$col-semilucid:#505152a4;

@mixin div-players {
  width: 40%;
  height: 80vh;
  padding-top: 50px;
  
}

body {
  text-align: center;
  background-color: $col-darkgray;
  color: $col-white;
  }

.content{
  display: flex;
  justify-content: center;
  align-items : center;
  margin-top: 3%;
}

#player1 {
  background : $col-gray;
  @include div-players();
  border-top-left-radius: 12px 12px;
  border-bottom-left-radius: 12px 12px;
}
  
#player2{
  background :$col-semilucid;
  border-top-right-radius: 12px 12px;
  border-bottom-right-radius: 12px 12px;
  @include div-players()
}

#tools{
  background: transparent;
  position: absolute;
  top: 50px;
  margin-top: 3%;

}


