body {
  text-align: center;
  text-shadow: -2px 3px 3px rgba(111, 111, 111, 0.55);
  color: #ffffff;
  font-family: "Lato", sans-serif;
  background-image: url("https://images.pexels.com/photos/3005772/pexels-photo-3005772.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3%;
  font-size: 30px;
}

.player-panel {
  width: 40%;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  padding-top: 50px;
}

.player-panel .playerTag {
  margin-top: 10%;
}

.player-panel .countGame {
  margin-top: 3%;
}

.player-panel .countRound {
  margin-top: 30%;
  border-radius: 8px 8px;
  width: 200px;
}

#player1 {
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid #505152a4;
}

#player1 .countRound {
  background: #11112b;
}

#player1:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

#player2 {
  display: none;
  background-color: rgba(40, 17, 17, 0.75);
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  border: 1px solid #505152a4;
}

#player2 .countRound {
  background: #2b1111;
}

#player2:hover {
  -webkit-transform: scale(1.008);
          transform: scale(1.008);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

img {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  max-width: 105%;
  max-height: 105%;
}

#tools {
  font-size: 23px;
  padding-top: 25px;
  z-index: 1;
  background: transparent;
  position: absolute;
  top: 50px;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: stretch;
      align-content: stretch;
}

#tools .newPlayer {
  border-radius: 12px;
}

#tools .newPlayer:hover {
  padding: 2px;
  border: solid 1px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
  cursor: pointer;
}

#tools .reinitialise {
  margin-top: 7%;
  border-radius: 12px;
}

#tools .reinitialise:hover {
  padding: 2px;
  border: solid 1px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
  cursor: pointer;
}

#tools .dice {
  margin-top: 90%;
  background: #ffffff;
  width: 100px;
  height: 100px;
  border-radius: 12px 12px;
}

#tools .diceButton {
  margin-top: 15%;
  border-radius: 12px;
}

#tools .diceButton:hover {
  padding: 2px;
  border: solid 1px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
  cursor: pointer;
}

#tools .diceButton:hover i {
  -webkit-animation: rotate 2s ease-in-out 0s 1 normal;
          animation: rotate 2s ease-in-out 0s 1 normal;
}

#tools .hold {
  margin-top: 140%;
  border-radius: 12px;
}

#tools .hold:hover {
  padding: 2px;
  border: solid 1px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.5s ease-in-out 0.2s;
  transition: all 0.5s ease-in-out 0.2s;
  cursor: pointer;
}

#tools .victoryMessage {
  font-size: 100px;
}
/*# sourceMappingURL=styles.css.map */